body {
  font-family: Lato, sans-serif;
}

.header {
  padding: 20px 0;
}
.header .container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 150px;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.header .nav a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  text-transform: uppercase;
}
.header .nav a:hover {
  text-decoration: underline;
}

.screen {
  position: relative;
  width: 100%;
}
.screen .image-container {
  position: relative;
  width: 100%;
  height: auto;
}
.screen .image-container img {
  width: 100%;
  height: auto;
}
.screen .image-container .overlay-text {
  position: absolute;
  top: 60px;
  width: 770px;
  font-size: 48px;
  text-align: left;
  padding: 10px 20px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}

.blog {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}
.blog .title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}
.blog .article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 470px;
  margin-bottom: 20px;
}
.blog .article.article2 {
  flex-direction: row-reverse;
}
.blog .article .image {
  width: 48%;
  height: 100%;
  object-fit: cover;
}
.blog .article .info {
  width: 48%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.blog .article .subtitle, .blog .article .date, .blog .article .text {
  color: #7b7b7b;
  font-weight: 400;
}
.blog .article .title2 {
  font-size: 23px;
  font-weight: 500;
}

.post {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}
.post .title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}
.post .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
}
.post .flex-container .item {
  width: 370px;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.post .flex-container .item img {
  width: 100%;
  height: auto;
}
.post .flex-container .item .content {
  width: 370px;
  height: 156px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.post .flex-container .item .content .info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post .flex-container .item .content .info-block .title2 {
  font-size: 23px;
  font-weight: 500;
}
.post .flex-container .item .content .info-block .subtitle, .post .flex-container .item .content .info-block .date, .post .flex-container .item .content .info-block .text {
  color: #7b7b7b;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .header .container {
    width: 100%;
    padding: 0 20px;
  }
  .nav {
    width: auto;
  }
  .overlay-text {
    width: auto;
    left: 10px;
    right: 10px;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
  }
  .nav {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
  .nav a {
    padding: 10px 5px;
  }
  .overlay-text {
    width: 700;
    left: 10px;
    right: 10px;
    font-size: 24px;
  }
  .screen .image-container img {
    width: 100%;
    height: auto;
  }
  .blog .title {
    font-size: 24px;
  }
  .blog .article .image, .blog .article .info {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */