@import "vars";
@import "mixins";
@import "extends";

body{
    font-family: $font-family-main;
}
.header {
    padding: 20px 0;
  
    .container {
      width: $container-width;
      margin: 0 auto;
      @include flex(space-between,center);
    }
  
    .logo {
      width: 150px;
    }
  
    .nav {
      display: flex;
      justify-content: space-between;
      width: 500px;
  
      a {
        text-decoration: none;
        color: #000000;
        padding: 10px;
        text-transform: uppercase;
  
        &:hover{
          text-decoration: underline;
        }
        
      }
    }
  }
  
  .screen {
    position: relative; 
    width: 100%;
  
    .image-container {
      position: relative;
      width: 100%;
      height: auto;
  
      img {
        width: 100%;
        height: auto;
      }
  
      .overlay-text {
        position: absolute;
        top: 60px; 
        width: 770px; 
        font-size: 48px; 
        text-align: left;
        padding: 10px 20px;
        font-family:$font-family-title;
        font-weight: 600;
      }
    }
  }


  .blog {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    .title{
        font-family: $font-family-title;
        font-weight: 400;
      }
  
  .article {
    @include flex(space-between,center);
    width: 100%;
    height: 470px;
    margin-bottom: 20px;
    &.article2 {
        flex-direction: row-reverse;
      }
     
  .image{
    width: 48%;
      height: 100%;
      object-fit: cover;
  }

    .info {
      width:48%;
      padding: 20px;
      @include flex-article(center);
      flex-direction: column;
      
    }   
    .subtitle, .date, .text{
        color: #7b7b7b;
        font-weight: 400;
    }
    .title2{
        font-size: 23px;
        font-weight: 500;
    }
}
}
.post {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
  
    .flex-container {
      @include flex(space-between,center);
      width: 100%;
      height: 500px;
  
      .item {
        width: 370px;
        height: 500px;
        text-align: center;
        @include flex(space-between,center);
        flex-direction: column;
  
        img {
          width: 100%;
          height: auto;
        }
  
        .content {
            width: 370px;
        height: 156px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
  
        .info-block{
            @include flex(space-between,center);
        }
  
          .title2{
            font-size: 23px;
            font-weight: 500;
        }
        .subtitle, .date, .text{
            color: #7b7b7b;
            font-weight: 400;
        }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .header .container {
      width: 100%;
      padding: 0 20px;
    }
  
    .nav {
      width: auto;
    }
    .overlay-text {
        width: auto;
        left: 10px;
        right: 10px;
        font-size: 32px;
      }
  }
  
  @media (max-width: 768px) {
    .header .container {
      flex-direction: column;
    }
  
    .nav {
      width: 100%;
      justify-content: center;
      margin-top: 10px;
    }
  
    .nav a {
      padding: 10px 5px;
    }
    .overlay-text {
        width: 700;
        left: 10px;
        right: 10px;
        font-size: 24px;
      }
      .screen .image-container img {
        width: 100%;
        height: auto;
      }
      .blog {
        .title {
          font-size: 24px;
        }
    
        .article {
          .image, .info {
            width: 100%;
            height: auto;
          }
        }
      }
  }